.banner {
  grid-area: banner;
  background-image: url("../img/banner.jpg");
}

.banner__link {
  display: flex;
  flex-direction: column;
  padding-top: 145px;
}

.banner__title {
  margin-bottom: 100px;
  padding-left: 112px;
  font-size: 70px;
  line-height: 1.3;
}

.banner__subtitle {
  margin: 0 auto 5px;
  font-size: 16px;
  line-height: 1.3;
}

.banner__timer {
  display: flex;
  margin: 0 auto;
  gap: 30px;
}

.timer__item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.timer__unit {
  font-size: 60px;
  line-height: 1.3;
}

.timer__unit-description {
  padding-top: 15px;
  font-size: 32px;
  line-height: 1.3;
}

@media (max-width: 1596px) {
  .banner {
    background-position: 60%;
  }
}

@media (max-width: 1028px) {
  .banner {
    align-self: end;
    background-image: url("../img/banner-medium.jpg");
    border-radius: 16px;
  }

  .banner__link {
    padding-top: 80px;
  }

  .banner__title {
    margin-bottom: 63px;
    padding-left: 80px;
    font-size: 40px;
  }

  .banner__subtitle {
    margin-bottom: 10px;
  }

  .timer__unit {
    font-size: 40px;
  }

  .banner__timer {
    gap: 20px;
  }

  .timer__item {
    gap: 5px;
  }

  .timer__unit-description {
    font-size: 20px;
  }
}

@media (max-width: 764px) {
  .banner {
    max-height: 280px;
    align-self: start;
    background-image: url("../img/banner-small.jpg");
  }

  .banner__link {
    padding-top: 64px;
  }

  .banner__title {
    margin-bottom: 82px;
    font-size: 30px;
  }

  .banner__subtitle {
    font-size: 12px;
  }

  .timer__unit {
    font-size: 30px;
  }

  .banner__timer {
    gap: 10px;
  }

  .timer__item {
    gap: 3px;
  }

  .timer__unit-description {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .banner {
    max-height: 380px;
    background-image: url("../img/banner-mobile.jpg");
  }

  .banner__link {
    padding-top: 50px;
  }

  .banner__title {
    margin-bottom: 189px;
    padding-left: 29px;
    font-size: 22px;
  }

  .banner__subtitle {
    margin-bottom: 6px;
    font-size: 8px;
  }

  .timer__unit {
    font-size: 20px;
  }

  .banner__timer {
    gap: 8px;
  }

  .timer__item {
    gap: 2px;
  }

  .timer__unit-description {
    padding-top: 3px;
    font-size: 12px;
  }
}
