.blog__container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.blog__wrapper-articles {
	padding-top: 80px;
	padding-left: 113px;
}

.blog__cards {
	display: flex;
	max-width: 1433px;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
	margin-bottom: 100px;
}

.blog__card {
	max-width: 645px;
}

.blog__card {
	flex-basis: 48%;
}

.blog__card-link {
	display: flex;
	align-items: top;
	gap: 50px;
	cursor: pointer;
}

.blog__card-title {
	max-width: 420px;
	padding-top: 13px;
	font-weight: 700;
	font-size: 38px;
	line-height: 1.3;
}

.blog__card {
	display: flex;
	align-items: top;
	gap: 50px;
}

.blog__card-image {
	width: 195px;
	height: 195px;
	border-radius: 20px;
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.pagination__page {
	cursor: pointer;
}

.pagination__list {
	display: flex;
	gap: 6px;
}

.pagination__link {
	display: inline-block;
	padding: 7px 13px 8px 13px;
	border: 2px solid #2d2d2d;
	border-radius: 4px;
	line-height: 1.3;
	color: #2d2d2d;
}

.active {
	border-color: #3670c7;
	color: #3670c7;
}
