.book {
  grid-area: book;
  height: 245px;
  background-image: url("../img/book.jpg");
}

.book__link {
  padding: 90px 10px 0 20px;
}

.book__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
}

.book__text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.3;
}

@media (max-width:1300px) {
  .book {
    max-width: 245px;
    height: 100%;
  }

  .book__link {
    padding-top: 20px;
  }
}

@media (max-width:1028px) {
  .book {
    max-width: 202px;
    height: 100%;
    background-image: url("../img/book-medium.jpg");
  }

  .book__link {
    padding: 76px 5px 0 9px;
  }
  
  .book__title {
    font-size: 24px;
  }
  
  .book__text {
    font-size: 30px;
  }
}

@media (max-width: 764px) {
  .book {
    max-width: 130px;
    background-image: url("../img/book-small.jpg");
  }

  .book__link {
    padding: 43px 0 0 10px;
  }
  
  .book__title {
    font-size: 20px;
    line-height: 1.1;
  }
  
  .book__text {
    font-size: 26px;
    line-height: 1.1;
  }
}

@media (max-width: 620px) {
  .book__title {
    font-size: 16px;
    line-height: 1.1;
  }
  
  .book__text {
    font-size: 22px;
    line-height: 1.1;
  }
}

@media (max-width: 500px) {
  .book {
    width: 100%;
    background-image: url("../img/book-mobile.jpg");
  }

  .book__link {
    padding: 76px 55px 10px 10px;
  }
  
  .book__title {
    font-size: 12px;
  }
  
  .book__text {
    font-size: 16px;
  }
}

@media (max-width: 308px) {
  .book__link {
    padding-top: 66px;
    padding-right: 35px;
  }
}