.book {
  grid-area: book;
  height: 245px;
  background-image: url("../img/book.jpg");
}

.book__link {
  padding: 90px 0 0 20px;
}

.book__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
}

.book__text {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.3;
}

@media (max-width:1028px) {
  .book {
 
    max-width: 202px;
    /* height: 202px; */
    height: 100%;
    background-image: url("../img/book-medium.jpg");
   
    
  }

  .book__link {
    padding: 101px 0 0 9px;
  }
  
  .book__title {
    font-size: 24px;
  }
  
  .book__text {
    font-size: 30px;
  }
}