.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 210px) repeat(4, 228px);
  gap: 60px;
  grid-template-areas:
    "  banner banner     banner   banner banner   banner"
    "  banner banner     banner   banner banner   banner"
    "  book   discount   pair     pair   ny-gifts ny-gifts"
    "sneakers sneakers   pair     pair   december december"
    "ny-decor ny-decor ny-decor ny-decor dresses  chemicals"
    "ny-decor ny-decor ny-decor ny-decor dresses  christmas-decor";
}

.card__discount {
  max-width: 88px;
  max-height: 88px;
  padding: 24px 8px 25px 9px;
  font-size: 30px;
  line-height: 130%;
  background: #ffbd13;
  color: #ffffff;
  border-radius: 50%;
}

.card__item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

@media (max-width: 1750px) {
  .card {
    column-gap: 2.13%;
  }
}

@media (max-width: 1028px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 146px) repeat(1, 202px) repeat(1, 222px) repeat(2, 194px)  repeat(2, 214px);
    column-gap: 16px;
    row-gap: 22px;
    grid-template-areas:
      "banner   banner   banner   banner"
      "banner   banner   banner   banner"
      "book     discount pair     pair "
      "sneakers sneakers pair     pair"
      "ny-gifts ny-gifts dresses  chemicals"
      "december december dresses  christmas-decor"
      "ny-decor ny-decor ny-decor ny-decor"
      "ny-decor ny-decor ny-decor ny-decor";
  }

  .card__item {
    
    border-radius: 16px;
  }
}

  @media (max-width: 764px) {
  .card {
    grid-template-columns: repeat(2, 140px) repeat(4, 82px);
    grid-template-rows: repeat(2, 130px) repeat(1, 130px) repeat(2, 126px) repeat(2, 83px) repeat(2, 168px);
    column-gap: 18.5px;
    row-gap: 22px;
    grid-template-areas:
      "banner   banner   banner   banner   banner   banner"
      "banner   banner   banner   banner   banner   banner"
      "book     discount pair     pair     pair     pair"
      "sneakers sneakers pair     pair     pair     pair"
      "ny-gifts ny-gifts pair     pair     pair     pair"
      "december december dresses  dresses  dresses  chemicals "
      "december december dresses  dresses  dresses  christmas-decor"
      "ny-decor ny-decor ny-decor ny-decor ny-decor ny-decor"
      "ny-decor ny-decor ny-decor ny-decor ny-decor ny-decor";

  }

  .card__item {
    
    border-radius: 12px;
  }

  .card__discount {
    max-width: 50px;
    max-height: 50px;
    padding: 13px 5px 16px 7px;
    font-size: 16px;
   
   
  }

}
