.discount-time {
  grid-area: discount;
  height: 245px;
  background-image: url("../img/discount-time.jpg");
}

.discount-time__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 77px 20px 27px 0;
}

.discount-time__title {
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
}

.discount-time__discount {
  margin-left: auto;
}

@media (max-width: 1596px) {
  .discount-time__link {
    padding-top: 40px;
  }
}

@media (max-width: 1028px) {
  .discount-time {
 
    max-width: 202px;
    height: 100%; 
    background-image: url("../img/discount-time-medium.jpg");
    justify-self: end;
    
  }

  .discount-time__link {
    padding: 54px 10px 10px 0;
  }

  .discount-time__title {
    font-size: 24px;
  }
  .discount-time__discount {
    /* margin-left: auto; */
  }
}
