.dresses {
  grid-area: dresses;
  background-image: url("../img/dresses.jpg");
}

.dresses__link {
  display: flex;
  padding-right: 20px;
  padding-bottom: 20px;
}

.dresses__discount {
  margin-top: auto;
  margin-left: auto;
}

@media (max-width: 1028px) {
  .dresses  {
 max-width: 206px; 
 height: 100%;
    background-image: url("../img/dresses-medium.jpg");
    justify-self: end;
  }

  .dresses__link {
    
    padding-right: 23px;
    padding-bottom: 10px;
  }
}




