.footer {
	padding: 80px 0 81px;
	background-color: #2d2d2d;
	color: #fff;
}

.footer__container {
	display: grid;
	grid-template-columns:minmax(211px, 299px) minmax(464px, 541px) 
		minmax(max-content, 413px) minmax(max-content, 280px);
	grid-template-rows: repeat(2, auto);
	justify-content: start;
	gap: 50px 30px;
	padding-right: 20px;
}

.footer__title {
	margin-bottom: 40px;
	font-size: 32px;
	line-height: 1.3;
}

.footer__list--catalog {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
	height: 225px;
	column-gap: 43px;
	row-gap: 15px;
}

.footer__list--buyers {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.footer__link {
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	padding-left: 21px;
	padding-right: 218px;
	font-size: 16px;
	line-height: 1.3;
}

.footer__copyright {
	grid-column: 1 / 2;
	padding-left: 21px;
	font-size: 16px;
	line-height: 1.3;
}

.footer__author {
	grid-column: 4 / 5;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-right: 35px;
	font-size: 16px;
	line-height: 1.3;
}

@media (max-width: 1325px) {
	.footer__container {
		grid-template-columns: minmax(464px, 550px) repeat(2, minmax(max-content, 500px));
		grid-template-rows: repeat(3, auto);
	}

	.footer__copyright {
		padding-left: 0;
	}

	.footer__author {
		grid-column: 3 / 4;
	}
}
