header {
  padding-top: 27px;
}

.header__navigation {
  display: grid;
  grid-template-columns: 190px 151px minmax(auto, 757px) 354px;
  grid-template-rows: 61px;
  justify-content: space-between;
  gap: 50px;
}

@media (max-width: 1600px) {
  .header__navigation {
    column-gap: 1.5%;
    grid-template-columns: 190px 151px minmax(auto, 757px) auto;
  }
}

@media (max-width: 1300px) {
  .header {
    padding-top: 34px;
  }

  .header__navigation {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 61px 54px;
    grid-template-areas:
      "logo navbar"
      "menu search";
    row-gap: 34px;
    column-gap: 0;
  }
}

@media (max-width: 764px) {
  .header {
    padding-top: 25px;
  }

  .header__navigation {
    grid-template-rows: 44px 42px;
    row-gap: 29px;
  }
}

@media (max-width: 600px) {
  .header__navigation {
    column-gap: 20px;
  }
}

@media (max-width: 500px) {
  .header {
    padding-top: 20px;
  }

  .header__navigation {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25px 30px 30px;
    grid-template-areas:
      "logo ..."
      "menu navbar"
      "search search";
    row-gap: 20px;
    column-gap: 0;
  }
}
