.household-chemicals {
  grid-area: chemicals;
  height: 245px;
  background-image: url("../img/household-chemicals.jpg");
}

.household-chemicals__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 37px 20px;
}

.household-chemicals__title {
  font-size: 30px;
  line-height: 130%;
}

.household-chemicals__discount {
  order: -1;
}

@media (max-width: 1028px) {
  .household-chemicals {
    max-width: 196px;
    height: 196px;
    background-image: url("../img/household-chemicals-medium.jpg");
  
    justify-self: end;
  }

  .household-chemicals__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 19px 6px;
  }
  
  .household-chemicals__title {
    font-size: 20px;
   
  }
  
 
}
