

.household-chemicals {
  
  /* margin-bottom: -11px; */
  grid-area: chemicals;
  max-width: 245px;
  height: 245px;
  align-self: start;
 
 background-image: url("../img/household-chemicals.jpg");
}

.household-chemicals__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 37px 20px;
}

.household-chemicals__title {

  font-size: 30px;
line-height: 130%;
}

.household-chemicals__discount {
  order: -1;
}

.ad-block__discount {

}

