.navbar {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.navbar__link {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar__img {
  align-self: center;
}

.navbar__description {
  font-size: 16px;
  line-height: 1.3;
  color: #2d2d2d;
}

.navbar__cart-count {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -5px;
  right: 8px;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  color: #3670c7;
  border-radius: 50%;
}

@media (max-width: 1400px) {
  .navbar {
    max-width: 294px;
    gap: 40px;
    grid-area: navbar;
    justify-self: end;
  }
}

@media (max-width: 850px) {
  .navbar {
    max-width: 294px;
    gap: 30px;
  }

  .navbar__img--profile {
    width: 20px;
  }

  .navbar__img--cart {
    width: 25px;
  }

  .navbar__img--favorites {
    width: 25px;
    height: 23px;
  }

  .navbar__description {
    font-size: 12px;
    line-height: 1.3;
    color: #2d2d2d;
  }
}

@media (max-width: 520px) {
  .navbar {
    width: 130px;
    height: 100%;
    padding: 0 2.5px 0 3px;
    align-items: center;
    gap: 20px;
  }

  .navbar__description {
    display: none;
  }
  
  .navbar__cart-count {
    top: -3px;
    right: -5px;
  }
}
