.new-year-decoration {
  grid-area: ny-decor;
  background-image: url("../img/new-year-decoration.jpg");
}

.new-year-decoration__link {
  display: flex;
  padding-left: 50px;
  padding-bottom: 50px;
}

.new-year-decoration__title {
  margin-top: auto;
  padding: 30px 43px 30px 43px;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #f91155;
  border-radius: 20px;
}

@media (max-width: 1596px) {
  .new-year-decoration {
    background-position: 55%;
  }
}

@media (max-width: 1028px) {
  .new-year-decoration {
    max-width: 940px;
    max-height: 418px;
    place-self: end center;
    background-image: url("../img/new-year-decoration-medium.jpg");
  }

  .new-year-decoration__link {
    padding-left: 30px;
    padding-bottom: 39px;
  }

  .new-year-decoration__title {
    padding: 22px 46px 23px 47px;
    font-size: 30px;
    border-radius: 16px;
  }
}

@media (max-width: 764px) {
  .new-year-decoration {
    height: 100%;
    justify-self: unset;
    background-image: url("../img/new-year-decoration-small.jpg");
  }

  .new-year-decoration__link {
    padding-left: 26px;
    padding-bottom: 26px;
  }

  .new-year-decoration__title {
    padding: 22px 33px 22px 34px;
    font-size: 20px;
    border-radius: 12px;
  }
}

@media (max-width: 500px) {
  .new-year-decoration {
    background-image: url("../img/new-year-decoration-mobile.jpg");
  }

  .new-year-decoration__link {
    padding-left: 15px;
    padding-bottom: 10px;
  }

  .new-year-decoration__title {
    padding: 9px 41px 8px;
    font-size: 12px;
    border-radius: 6px;
  }
}

@media (max-width: 322px) {
  .new-year-decoration__title {
    padding: 9px 21px 8px;
  }
}
