.second-pair {
  grid-area: pair;
  max-width: 516px;
  justify-self: end;
  background-image: url("../img/second-pair.jpg");
}

.second-pair__link {
  display: flex;
  padding: 0 20px 20px;
}

.second-pair__title {
  min-height: 167px;
  margin: auto auto 0;
  padding: 24px 20px 24px 21px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  background-color: #38c0eb;
  border-radius: 20px;
}

.second-pair__text {
  display: block;
  margin-top: 15px;
  font-weight: 700;
  font-size: 56px;
}

@media (max-width: 1028px) {
  .second-pair {
    max-width: 446px;
    background-image: url("../img/second-pair-medium.jpg");
  }


  .second-pair__title {
    width: 406px;
    min-height: 143px;
    padding: 24px 27px 32px 25px;
    font-size: 30px; 
  }

  .second-pair__text {
    margin-top: 0;
    font-size: 40px; 
  }
}

  @media (max-width: 764px) {
    .second-pair {
     max-width: 380px;
     max-height: 380px;
      background-image: url("../img/second-pair-small.jpg");
    }

    .second-pair__link {
      padding: 0 10px 10px;
    }
  
  
    .second-pair__title {
  
      min-height: 61px;
      padding: 12px 30px 20px 26px;
      font-size: 16px;
      line-height: 1.1; 
    }
  
    .second-pair__text {
      display: inline;
      font-size: 26px; 
      line-height: 1.1; 
    }

  
}
