.sneakers {
  grid-area: sneakers;
  background-image: url("../img/sneakers.jpg");
}

.sneakers__link {
  padding-top: 20px;
  padding-left: 20px;
}

@media (max-width:1460px) {
  .sneakers {
 background-position: 40%;
}
}

@media (max-width:1028px) {
  .sneakers {
    /* width: 100%; */
    height: 220px;
    /* width: 464px; */
    background-image: url("../img/sneakers-medium.jpg");
    align-self: end;
  }
  
  .sneakers__link {
    padding-top: 17px;
    padding-left: 10px;
  }
}



