.sneakers {
  grid-area: sneakers;
  background-image: url("../img/sneakers.jpg");
}

.sneakers__link {
  padding-top: 20px;
  padding-left: 20px;
}

@media (max-width: 1460px) {
  .sneakers {
    background-position: 40%;
  }
}

@media (max-width: 1028px) {
  .sneakers {
    max-width: 464px;
    height: 220px;
    align-self: end;
    background-image: url("../img/sneakers-medium.jpg");
  }

  .sneakers__link {
    padding-top: 17px;
    padding-left: 10px;
  }
}

@media (max-width: 764px) {
  .sneakers {
    height: 100%;
    background-image: url("../img/sneakers-small.jpg");
  }

  .sneakers__link {
    padding-top: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 500px) {
  .sneakers {
    max-width: 280px;
    justify-self: center;
    background-image: url("../img/sneakers-mobile.jpg");
  }

  .sneakers__link {
    padding-top: 5px;
    padding-left: 5px;
  }
}
