.article-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.article {
	padding-top: 80px;
}

.article__title {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.3;
	color: #2d2d2d;
}

.article__text {
	margin-bottom: 150px;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
	color: #2d2d2d;
}

.article__footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.article__link {
	position: relative;
	padding-left: 34px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	color: #2d2d2d;
}

.article__link:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("../img/arrow__left.svg");
}

.article__author {
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
	color: #000;
}
