.christmas-decorations {
  grid-area: christmas-decor;
  height: 245px;
  align-self: end;
  background-image: url("../img/christmas-decorations.jpg");
}

@media (max-width: 1460px) {
  .christmas-decorations {
    background-position: 60%;
  }
}

@media (max-width: 1028px) {
  .christmas-decorations {
    max-width: 196px;
    height: 196px;
    justify-self: end;
    background-image: url("../img/christmas-decorations-medium.jpg");
  }
}

@media (max-width: 764px) {
  .christmas-decorations {
    width: 100%;
    max-height: 83px;
    background-image: url("../img/christmas-decorations-small.jpg");
    transform: translate(-30px, 0);
  }
}

@media (max-width: 750px) {
  .christmas-decorations {
    min-width: 78px;
    transform: translate(0, 0);
  }
}

@media (max-width: 500px) {
  .christmas-decorations {
    max-width: 130px;
    min-height: 130px;
    background-image: url("../img/christmas-decorations-mobile.jpg");
  }
}


