.promo {
  padding-top: 90px;
  padding-bottom: 50px;
}

@media (max-width: 1028px) {
  .promo {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

@media (max-width: 764px) {
  .promo {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

@media (max-width: 500px) {
  .promo {
    padding-top: 41px;
    padding-bottom: 70px;
  }
}
